nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
}

nav a {
    padding: 5px 10px;
    margin: 0 5px;
    color: #ffffff;
    font-weight: 600;
}

nav a:hover {
    padding: 5px 10px;
    background-color: #802c6e;
    border-radius: 2px;
}

nav a.active {
    padding: 5px 10px;
    background-color: #802c6e;
    border-radius: 2px;
}

nav button {
    font-weight: 600;
    font-size: 0.9rem;
    width: 120px;
    height: 29px;
    margin-right: 20px;
    padding: 5px 15px;
    background-color: #802c6e;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.outlet-on {
    background-color: #ff0000;
}

.outlet-off {
    background-color: #802c6e;
}